$font-1-bold: 'font-1-bold', sans-serif;
$font-title: 'font-title', sans-serif;
$font-1-regular: 'font-1-regular', sans-serif;

$color1: rgba(237, 100, 84);
$color2: rgba(50, 130, 247);
$color3: rgba(104, 217, 164);
$color4: rgba(231, 231, 231);
$color5: rgba(199, 190, 190);
$color6: rgb(251, 251, 251);
