@font-face {
  font-family: "font-1-regular";
  src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "font-title";
  src: url(../fonts/DM_sans/DMSans-Bold.ttf);
}
@font-face {
  font-family: "font-1-bold";
  src: url(../fonts/lato/Lato-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "font-1-bold", sans-serif, sans-serif;
}

body {
  background: rgb(251, 251, 251);
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 0 100px;
  min-width: 80%;
  max-width: 1240px;
}
@media screen and (max-width: 500px) {
  .wrapper {
    margin: 0;
    width: 100%;
  }
}

li,
a {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

a,
a:visited {
  color: rgb(237, 100, 84);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input {
  border: none;
}

.filter-btn {
  position: relative;
  width: 170px;
  height: 69px;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "font-1-regular", sans-serif;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1025px) {
  .filter-btn {
    justify-content: center;
    gap: 10px;
  }
  .filter-btn svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}
.filter-btn svg {
  fill: white;
  width: 20px;
  height: 15px;
}
.filter-btn:hover {
  outline: solid 2px black;
}

.hidden {
  display: none !important;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 0 17px 0;
}

.logo {
  width: 50px;
  height: 46px;
}

h1 {
  color: rgb(237, 100, 84);
  font-family: "font-title", sans-serif;
  font-size: 2.2rem;
  line-height: 47px;
}

.search-section {
  position: relative;
}
@media screen and (max-width: 500px) {
  .search-section {
    width: 380px;
    margin: 0 auto;
  }
}
.search-section #searchbar {
  width: 100%;
  background: rgb(199, 190, 190);
  border-radius: 5px;
  height: 69px;
  font-family: "font-1-regular", sans-serif;
  font-size: 18px;
  padding-left: 24px;
}
.search-section #searchbar:hover {
  outline: solid 2px rgb(237, 100, 84);
}
.search-section #searchbar:focus-visible {
  outline: solid 2px rgb(50, 130, 247);
}
.search-section #search-btn {
  height: 69px;
  width: 69px;
  border-radius: 5px;
  background: rgb(199, 190, 190);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search-section #search-btn svg {
  height: 32px;
  height: 32px;
}
.search-section #search-btn:focus-visible {
  outline: none;
}
.search-section #search-btn:focus-visible svg, .search-section #search-btn:hover svg {
  transform: scale(1.1);
  fill: rgb(237, 100, 84);
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 0;
}
@media screen and (max-width: 500px) {
  .tag-section {
    width: 380px;
    margin: 0 auto;
  }
}
.tag-section .tag-container {
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-family: "font-1-regular", sans-serif;
  font-size: 14px;
  display: flex;
  gap: 13px;
}
.tag-section .tag-container svg {
  fill: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.tag-section .tag-container path {
  pointer-events: none;
}

.ingredientsTag {
  background: rgb(50, 130, 247);
}

.appliancesTag {
  background: rgb(104, 217, 164);
}

.ustensilsTag {
  background: rgb(237, 100, 84);
}

.filter-section {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  min-height: 110px;
  max-height: 160px;
}
@media screen and (max-width: 1000px) {
  .filter-section {
    flex-direction: column;
    align-items: center;
    min-height: 290px;
    max-height: 310px;
    padding: 0 0 50px;
  }
  .filter-section .filter-container {
    min-height: 70px;
    width: 100%;
  }
  .filter-section .filter-btn {
    width: 100%;
  }
  .filter-section .keyWords {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  .filter-section #keyWords-1 {
    z-index: 20;
  }
  .filter-section #keyWords-2 {
    z-index: 15;
  }
}
@media screen and (max-width: 500px) {
  .filter-section {
    width: 380px;
    margin: 0 auto;
  }
}

#btnKeywords-1 {
  background: rgb(50, 130, 247);
}

#btnKeywords-2 {
  background: rgb(104, 217, 164);
}

#btnKeywords-3 {
  background: rgb(237, 100, 84);
}

.keyWords {
  color: white;
  font-family: "font-1-regular", sans-serif;
  font-size: 18px;
  position: relative;
  min-width: 270px;
  max-width: 667px;
  border-radius: 5px;
  overflow: hidden;
}
.keyWords .keyWordsSearch-container input {
  padding-left: 20px;
  color: white;
  font-family: "font-1-regular", sans-serif;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  height: 69px;
  min-width: 223px;
  width: 100%;
}
.keyWords .keyWordsSearch-container input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.keyWords .keyWordsSearch-container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.keyWords .keyWordsSearch-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.keyWords .keyWordsSearch-container input:focus-visible {
  outline: none;
}
.keyWords .keyWordsSearch-container .svg-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 69px;
  width: 69px;
  cursor: pointer;
}
.keyWords .keyWordsSearch-container .svg-container:hover svg {
  transform: scale(1.5);
  fill: black;
}
.keyWords .keyWordsSearch-container .svg-container svg {
  fill: white;
  width: 20px;
  height: 15px;
}
.keyWords .keyWordsList {
  display: grid;
  grid-template-rows: repeat(auto-fit, 40px);
  grid-auto-flow: column;
  max-width: 667px;
  max-height: 440px;
  line-height: 40px;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 750px) {
  .keyWords .keyWordsList {
    max-width: 445px;
  }
}
@media screen and (max-width: 500px) {
  .keyWords .keyWordsList {
    max-width: 380px;
  }
}
.keyWords .keyWordsList span {
  font-family: "font-1-regular", sans-serif;
  font-size: 18px;
  padding: 0 20px;
}
.keyWords .keyWordsList li {
  position: relative;
  width: 223px;
  height: 40px;
  padding-left: 20px;
  font-family: "font-1-regular", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
@media screen and (max-width: 500px) {
  .keyWords .keyWordsList li {
    width: 380px;
    text-align: center;
  }
}
.keyWords .keyWordsList li:hover {
  color: black;
}

#keyWordsIngredients,
#ingredientsList {
  background: rgb(50, 130, 247);
}

#keyWordsAppliances,
#appliancesList {
  background: rgb(104, 217, 164);
}

#keyWordsUstensils,
#ustensilsList {
  background: rgb(237, 100, 84);
}

.recipes-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: space-between;
}
.recipes-section .error-message {
  font-size: 2em;
  width: 80vw !important;
  margin: 0 auto;
  text-align: center;
  font-style: oblique;
  font-family: "font-1-regular", sans-serif;
  line-height: 50px;
  padding-top: 50px;
}
@media screen and (max-width: 1460px) {
  .recipes-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1025px) {
  .recipes-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.recipes-section .recipes-container {
  margin: 0 auto;
  width: 380px;
  height: 364px;
  border-radius: 5px;
  background: rgb(231, 231, 231);
}
.recipes-section .recipes-container .img-container {
  width: 100%;
  height: 178px;
  background: rgb(199, 190, 190);
  border-radius: 5px 5px 0 0;
}
.recipes-section .recipes-container .content-container {
  padding: 20px;
}
.recipes-section .recipes-container .content-container .recipe-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.recipes-section .recipes-container .content-container .recipe-title h2 {
  font-family: "font-1-regular", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400;
}
@media screen and (max-width: 1000px) {
  .recipes-section .recipes-container .content-container .recipe-title h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .recipes-section .recipes-container .content-container .recipe-title h2 {
    font-size: 18px;
  }
}
.recipes-section .recipes-container .content-container .recipe-title .recipe-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 100px;
  font-family: "font-1-bold", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
}
.recipes-section .recipes-container .content-container .recipe-title .recipe-time svg {
  height: 20px;
  width: 20px;
}
.recipes-section .recipes-container .content-container .recipe-content {
  display: grid;
  grid-template-columns: repeat(2, 171px);
  font-family: "font-1-regular", sans-serif;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
}
.recipes-section .recipes-container .content-container .recipe-content .recipe-ingredients {
  display: flex;
  flex-direction: column;
}
.recipes-section .recipes-container .content-container .recipe-content .recipe-ingredients .ingredient-description {
  width: 150px;
  white-space: nowrap;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipes-section .recipes-container .content-container .recipe-content .recipe-description p {
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1000px) {
  .recipes-section .recipes-container .content-container .recipe-content {
    grid-template-columns: repeat(2, 50%);
    font-size: 15px;
    font-weight: 400;
  }
  .recipes-section .recipes-container .content-container .recipe-content .recipe-ingredients .ingredient-description {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .recipes-section .recipes-container .content-container .recipe-content {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .recipes-section .recipes-container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .recipes-section .recipes-container {
    width: 380px;
  }
}/*# sourceMappingURL=index.css.map */