.filter-section {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

#btnKeywords-1 {
  background: $color2;
}
#btnKeywords-2 {
  background: $color3;
}
#btnKeywords-3 {
  background: $color1;
}
