.tag-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 25px;

  @media screen and (max-width: 1000px) {
  }

  .tag-container {
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-family: $font-1-regular;
    font-size: 14px;
    display: flex;
    gap: 13px;
    svg {
      fill: white;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    path {
      pointer-events: none;
    }
  }
}

.ingredientsTag {
  background: $color2;
}
.appliancesTag {
  background: $color3;
}
.ustensilsTag {
  background: $color1;
}
